body {
    text-align: center;
}
.winWindow {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}
.winContent {
  background-color: #fefefe;
  margin: 10%;
  margin-top: 30%;
  margin-left: 38%;
  padding: 20px;
  width: 20%;
}
